@using EPiServer.Web.Mvc.Html
@model PresentTech.Models.Pages.StartPage

<h1>Welcome to the Home Page</h1>
<div>
    @Html.PropertyFor(x => x.Name)
</div>
<div>
    @Html.PropertyFor(x => x.Cheer)
</div>
<div>
    @Html.PropertyFor(x => x.bate)
</div>
<div>
    @Html.PropertyFor(x => x.Name)
</div>
</div>